<section class="project">
  <div class="project-img">
    <img
      src="../../../../assets/images/perfil.svg"
      alt="project image"
      class="img-project"
    />
  </div>
  <div class="project-infos">
    <h2 class="title">Title</h2>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ea mollitia
      quas molestias officia repellat sunt error optio, earum voluptas veritatis
      nobis fugiat, blanditiis maxime aliquid laborum reiciendis voluptatem
      totam! Dolore corrupti et modi sunt repellat inventore reprehenderit,
      nostrum sit sapiente commodi ad, cupiditate blanditiis qui iste esse
      eveniet neque! Nostrum voluptates nihil quod eveniet harum alias qui
      accusamus repellendus.
    </p>
    <div class="buttons">
      <a>
        <button type="button" class="btn-code">Go To Code</button>
      </a>
      <a>
        <button type="button" class="btn-project">Go To Project</button>
      </a>
    </div>
  </div>
</section>
