.footer {
  width: 100%;
  height: 25vh;
}

.info,
.sub-info {
  font-family: "IBM Plex Sans Bold";
  color: #e0e1dd;
}

.sub-info {
  margin-left: 20px;
}

.infos {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.title {
  font-family: "IBM Plex Sans Bold";
  font-size: 32px;
  color: #e0e1dd;
}

.title,
.infos {
  margin-left: 4vw;
}

.social-medias {
  display: flex;
  gap: 2rem;
  margin-left: 10vw;
}
