<footer class="footer bg-theme-A77">
  <h1 class="title bg-theme-A77">Contact Me</h1>
  <div class="infos bg-theme-A77">
    <dl class="bg-theme-A77">
      <dt class="bg-theme-A77 info">Name</dt>
      <dd class="bg-theme-A77 sub-info">Gustavo Moraes Mercedes</dd>
    </dl>
    <dl class="bg-theme-A77">
      <dt class="bg-theme-A77 info">e-mail</dt>
      <dd class="bg-theme-A77 sub-info">gustavomercedes1@hotmail.com</dd>
    </dl>
    <dl class="bg-theme-A77">
      <dt class="bg-theme-A77 info">Phone</dt>
      <dd class="bg-theme-A77 sub-info">(19) 9 9371-1250</dd>
    </dl>
    <div class="bg-theme-A77 social-medias">
      <img
        class="bg-theme-A77"
        src="../../../assets/images/Linkedln Icon.svg"
        alt="Linkedln Link"
      />
      <img
        class="bg-theme-A77"
        src="../../../assets/images/instagram Icon.svg"
        alt="Instagram Link"
      />
      <img
        class="bg-theme-A77"
        src="../../../assets/images/Github Icon.svg"
        alt="Github Link"
      />
    </div>
  </div>
</footer>
