.title {
  font-family: "IBM Plex Sans Bold";
  font-size: 48px;
  text-align: center;
  margin-top: 2rem;
}

.projects {
  background-color: #1b263b;
  height: 50vh;
  overflow-y: scroll;
  width: 80vw;
  margin: 2rem auto;
}

.projects::-webkit-scrollbar {
  width: 7px;
}

.projects::-webkit-scrollbar-thumb {
  background: #e0e1dd;
  border: 1px solid rgba(255, 255, 255, 0.1475);
  border-radius: 3.5px;
}

.projects::-webkit-scrollbar-track {
  background-color: #415a77;
}

.bg-color {
  background-color: #778da9;
  border-radius: 10px;
}
