/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'IBM Plex Sans';
    src: url('./assets/fonts/IBMPlexSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'IBM Plex Sans Medium';
    src: url('./assets/fonts/IBMPlexSans-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'IBM Plex Sans SemiBold';
    src: url('./assets/fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'IBM Plex Sans Bold';
    src: url('./assets/fonts/IBMPlexSans-Bold.ttf') format('truetype');
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #E0E1DD;
}

.bg-theme-A77 {
  background-color: #415A77;
}

body::-webkit-scrollbar {
  width: 7px;
}


body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5025);
  border: 1px solid rgba(255, 255, 255, 0.1475);
  border-radius: 3.5px;
}
